<div class="col-s-12">
    <div class="titulo">
        <h1>Producto</h1>
    </div>
</div>

<form class="col-s-12" action="">
    <table class="col-s-12">

        <tr>
            <td><label for="nombre">Nombre</label></td>
            <td><input type="text" 
                id="nombre" 
                placeholder="Nombre" 
                name="nombrecategoria"
                ></td>
        </tr>
        <tr>
            <td><label for="nombre">Mililitro</label></td>
            <td><input type="text" 
                id="nombre" 
                placeholder="Nombre" 
                name="nombrecategoria"
                ></td>
        </tr>

        <tr>
            <td><label for="nombre">Descripcion</label></td>
            <td><input type="text" 
                id="nombre" 
                placeholder="Nombre" 
                name="nombrecategoria"
                ></td>
        </tr>

        <tr>
            <td><label for="nombre">Volumen Alcohol</label></td>
            <td><input type="text" 
                id="nombre" 
                placeholder="Nombre" 
                name="nombrecategoria"
                ></td>
        </tr>

    </table>
    
    <div class="col-s-6 boton">
        <button type="summit">Agregar</button>
        <button class="extra">Eliminar</button>
    </div>
</form>

<div class="cajat col-s-12">

    <table class="col-s-12" id="tabla2">
        <tr >
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Mililitros</th>
            <th>Descripcion</th>
            <th>Volumen Alcohol</th>
        </tr>
    
        <tr>
            <td>SDGDSGDSDGS</td>
            <td>asdasd</td>
            <td>SDGDSGDSDGS</td>
            <td>asdasd</td>
            <td>SDGDSGDSDGS</td>
        </tr>
    
    
    </table>

</div>
