

        <div class="col-s-12 col-m-6" >
            <div class="foto">
                <img src="../../../assets/img/xd.jpg" alt="foto">
            </div>
        </div>

        <div class="col-s-12 col-m-6 " *ngIf="usuario.length!=0">
            <div class="info" *ngIf="usuario">
                <h1>Usuario</h1>
                <p>{{ usuario[0].getusuariousuario}}</p>
                <h1>Nombres y Apellidos</h1>
                <p>{{ usuario[0].getnombreUsuario}}  {{usuario[0].getApellidoUsuario }}</p>
                <h1>Direccion</h1>
                <p>{{ usuario[0].getDireccionUsuario }}</p>
                <h1>DNI</h1>
                <p>{{ usuario[0].getdniUsuario }}</p>
                <h1>Numero de Contacto</h1>
                <p>{{ usuario[0].getcelularUsuario }}</p>
                <h1>Correo Electronico</h1>
                <p>{{ usuario[0].getCorreoUsuario }}</p>
            </div>
        </div>
        <div *ngIf="local.length!=0">
            <div class="info" >
                <h1>COdigo Local</h1>
                <p>{{local[0].getcodLocal}}</p>
                <h1>Nombre Local</h1>
                <p>{{ local[0].getnombreLocal}}  </p>
                <h1>RUC</h1>
                <p>{{ local[0].getrucLocal}}</p>
                <h1>ubicacion</h1>
                <p>{{ local[0].getubicacionLocal }}</p>
            </div>
          </div>

        <div class="col-s-12">
            <div class="tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
