

        <div class="col-s-12 col-m-6" >
            <div class="foto">
                <img src="../../../assets/img/xd.jpg" alt="foto">
            </div>
        </div>

        <div class="col-s-12 col-m-6" >
            <div class="info" >
                <h1>Usuario</h1>
                <p>Pedrito Manuelito</p>
                <h1>Direccion</h1>
                <p>Calle. Sacarias Polvo</p>
                <h1>DNI</h1>
                <p>72316452</p>
                <h1>Numero de Contacto</h1>
                <p>999912322</p>
                <h1>Correo Electronico</h1>
                <p>pedriotomanuelito123@gmail.com</p>
            </div>
        </div>

        <div class="col-s-12">
            <div class="tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
