<div class="container">
    <div class="row">
        <div class="col-s-12 ">
            <div class="header" >
                <img id="logo" src="../../../assets/img/logo2.svg" alt="logo">
                <img class="carmen" src="../../../assets/img/men.svg" alt="menu logo">
                <img class="carmen" src="../../../assets/img/carro.svg" alt="carrito logo">
            </div>
        </div>
        <app-descripcion-boleta-main></app-descripcion-boleta-main>
        <footer class="col-s-12">
            <p>Todos los derechos reservados por la empresa de Bebidas Time</p>
        </footer>
    </div>
</div>



