<div class="col-s-12">
    <div class="titulo">
        <h1>Producto</h1>
    </div>
</div>

<form class="col-s-12" action="">
    
    <div class="col-s-6">
        <label for="nombre">Nombre</label>
        <input type="text" 
        id="nombre" 
        placeholder="Nombre" 
        name="nombrecategoria"
        
        >
    </div>
    <div class="col-s-6 boton">
        <button type="summit">Agregar</button>
        <button class="extra">Eliminar</button>
    </div>
</form>

<div class="cajat col-s-12">

    <table class="col-s-12">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
        </tr>
    
        <tr>
            <td>SDGDSGDSDGS</td>
            <td>asdasd</td>
        </tr>
    
    
    </table>

</div>


