<div class="col-s-12 ">
    <div class="header" >
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="" class="enlace">
                <img id="logo" src="../../../assets/img/logo2.svg" alt="logo">
            </a>
            <a routerLink='reserva' class="carro">
                <img src="../../../assets/img/carro.svg" alt="carrito">
            </a>
            <ul>
                <li><a routerLink='' class="active">Bebidas</a></li>
                <li><a *ngIf="cuentaactiva[2]=='0'|| cuentaactiva[2]=='1'" routerLink='info-user'>Mi perfil</a></li>
                <li><a *ngIf="cuentaactiva[2]=='0'|| cuentaactiva[2]=='1'" routerLink='entrega-pedidos'>Reservas</a></li>
                <li><a *ngIf="cuentaactiva[2]=='2'|| cuentaactiva[2]=='1'" href="#">Gestion</a></li>
                <li><a *ngIf="cuentaactiva.length!=0"  (click)="borrar()" routerLink='login'>Cerrar Sesion</a></li>  
                <li><a *ngIf="cuentaactiva.length==0" routerLink='login'>Iniciar Secion</a></li>  
            </ul>
        </nav>
    </div>
</div>
