
        <div class="col-s-12">
            <div class="filtro">
                <form target="_blank">

                    <div class="col-s-2 titulo">
                        <p>Búsqueda: </p>
                    </div>

                    <div class="col-s-7 buscador">
                        <input type="search" name="busquedamusica" placeholder="Canción, autor, álbum...">
                    </div>

                    <div class="col-s-3 buscar">
                        <input type="submit" value="Buscar">
                    </div>
        
                  </form>
            </div>
        </div>

        <div class="col-s-12 content">
            <div class="galeria">

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor1.jpg" alt="">
                        <div class="infor">
                            <h1>CARTAVIO</h1>
                            <p>Tremendo ron para empezar la noche con mucha diversión</p>
                        </div>
                        <div class="boton">
                            <div class="price">
                                <h2>Precio</h2>
                            </div>
                            <div class="for">
                                <form action="">
                                    <input class="col-s-12" type="number">
                                    <div class="enviar">
                                        <button  type="submit">Agregar</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor2.jpg" alt="">
                    <div class="infor">
                        <h1>HAVANA</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor3.jpg" alt="">
                    <div class="infor">
                        <h1>SEAGRAM´S</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor4.jpg" alt="">
                    <div class="infor">
                        <h1>RUAVIEJA</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor5.jpg" alt="">
                    <div class="infor">
                        <h1>BAILEYS</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor6.jpg" alt="">
                    <div class="infor">
                        <h1>B.CHOCOLATE</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor7.jpg" alt="">
                    <div class="infor">
                        <h1>AFILADOR</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor11.jpg" alt="">
                    <div class="infor">
                        <h1>LA GUITA</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-s-6 col-m-4 fotos">
                    <img src="../../../assets/img/licor9.jpg" alt="">
                    <div class="infor">
                        <h1>MALIBU</h1>
                        <p>Tremendo ron para empezar la noche con mucha diversión</p>
                    </div>
                    <div class="boton">
                        <div class="price">
                            <h2>Precio</h2>
                        </div>
                        <div class="for">
                            <form action="">
                                <input class="col-s-12" type="number">
                                <div class="enviar">
                                    <button  type="submit">Agregar</button>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
